
/*Adjust the height of carousel images to fit the page properly.*/
#carouselExampleControls img {

width: auto;
height: 200px;
max-height: 225px;

}

/*The inline-block class allows for more than one button to be inserted on the same line.*/
.inner
{
    display: inline-block;
}

/*Float a button to the left side of a page by using the class attribute*/
.inlineBtnLeft {
    float: left;
}

/*Float a button to the right on a line*/
.inlineBtnRight {
    float: right;
}